@import '../Vars.scss';

.error {
   color: $blanco;
   background-image: $gradient;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0px 30px;
   min-height: calc(100vh - 200px);

   .error__main {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-family: $theme-font;
      
      h1 {
         font-size: 72px;
      }

      @keyframes pulse {
         0% { transform: scale(1); }
         50% { transform: scale(1.1); }
         100% { transform: scale(1); }
      }

      .animate__pulse {
         animation-name: pulse;
         animation-duration: 1.5s;
         animation-iteration-count: infinite;
      }
   }
}